@page "/edit/{id:int}"
@using Client.Services
@inject NavigationManager Navigation
@inject TaskService TaskService

<h3>タスクの編集</h3>

@if (task == null)
{
    <p>読み込み中...</p>
}
else
{
    <EditForm Model="task" OnValidSubmit="SaveTask">
        <DataAnnotationsValidator />

        <div>
            <label>名称:</label>
            <InputText @bind-Value="task.Name" class="form-control" />
        </div>

        <div>
            <label>担当:</label>
            <InputText @bind-Value="task.Assignee" class="form-control" />
        </div>

        <div>
            <label>内容:</label>
            <InputTextArea @bind-Value="task.Description" class="form-control" />
        </div>

        <div>
            <label>開始日:</label>
            <InputDate @bind-Value="task.StartDate" class="form-control"  />
        </div>

        <div>
            <label>期限:</label>
            <InputDate @bind-Value="task.DueDate" class="form-control" />
        </div>

        <div>
            <label>終了日:</label>
            <InputDate @bind-Value="task.CompletionDate" class="form-control" />
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">キャンセル</button>
        </div>
    </EditForm>
}

@code {
    [Parameter] public int Id { get; set; }
    private Models.Task? task;

    protected override async Task OnInitializedAsync()
    {
        task = await TaskService.GetTaskByIdAsync(Id);
    }

    private async Task SaveTask()
    {
        if (task != null)
        {
            var success = await TaskService.UpdateTaskAsync(Id, task);
            if (success)
            {
                Navigation.NavigateTo($"/taskdetail/{Id}");
            }
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo($"/taskdetail/{Id}");
    }
}
