@page "/tasksmanagement/edit/{id:int}"
@using Client.Services
@using MudBlazor
@inject NavigationManager Navigation
@inject TaskService TaskService
@inject IJSRuntime JS

<div class="w-50 mx-auto my-5">
    <h3>タスクの編集</h3>

    @if (taskDetail == null)
    {
        <p>読み込み中...</p>
    }
    else
    {
        <ConfirmDialog @ref="dialog" />
        <EditForm Model="taskDetail" OnValidSubmit="SaveTask">
            <DataAnnotationsValidator />

            <div>
                <label>名称:</label>
                <InputText @bind-Value="taskDetail.Name" class="form-control" />
                <ValidationMessage For="@(() => taskDetail.Name)" />
            </div>

            <div>
                <label>担当:</label>
                <InputText @bind-Value="taskDetail.Assignee" class="form-control" />
                <ValidationMessage For="@(() => taskDetail.Assignee)" />
            </div>

            <div>
                <label>内容:</label>
                <InputTextArea @bind-Value="taskDetail.Description" class="form-control" />
            </div>

            <div>
                <label>開始日:</label>
                <InputDate @bind-Value="taskDetail.StartDate" class="form-control" />
            </div>

            <div>
                <label>期限:</label>
                <InputDate @bind-Value="taskDetail.DueDate" class="form-control" />
            </div>

            <div>
                <label>終了日:</label>
                <InputDate @bind-Value="taskDetail.CompletionDate" class="form-control" />
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">キャンセル</button>
            </div>
        </EditForm>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private Models.TaskDetail? taskDetail;
    private ConfirmDialog dialog;

    protected override async Task OnInitializedAsync()
    {
        taskDetail = await TaskService.GetTaskByIdAsync(Id);
    }

    private async Task SaveTask()
    {
        var confirmation = await dialog.ShowAsync(
            title: "本当に編集してもよろしいですか？",
            message1: "続行しますか？"
        );
        if (taskDetail != null && confirmation)
        {
            var success = await TaskService.UpdateTaskAsync(Id, taskDetail);
            if (success)
            {
                await JS.InvokeVoidAsync("alert", "レコードは正常に編集されました！");
                Navigation.NavigateTo($"/taskdetail/{Id}");
            }
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo($"/taskdetail/{Id}");
    }
}
