@page "/tasksmanagement"
@inject Client.Services.TaskService TaskService

<div class="container-fluid">
<h3>タスク一覧</h3>

    <a href="/tasksmanagement/create" class="btn btn-success my-2">新しいタスクを追加</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>担当</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var task in tasks)
        {
            <tr>
                <td>
                    <td>@task.Name</td>
                </td>
                <td>@task.Assignee</td>
                <td>
                    <a href="/taskdetail/@task.Id" class="text-decoration-none">詳細</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@code {
    private List<Models.TaskDetail> tasks = new();
    private Models.TaskDetail NewTask = new();

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetTasksAsync();
    }
}

